/* Tabla */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.attendance-table th,.attendance-table th:hover {
    background-color: #007bff;
    color: white;
}

label {
    font-size: 13px;
    color: var(--main-text-color);
    margin: 0;
    font-weight: 500;
}